@import './NavbarStyles';
@import './BannerStyles';
@import './GETSectionStyles';
@import './POSTSectionStyles';

// TRANSITION TO THE IMAGE AFTER A SUCCESSFUL POST REQUEST
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

// GENERAL STYLING
.main-container {
    background-color: #f8f8f8;
}

button {
    background-color: #F4E041;
    width: 100px;
    height: 34px;
    border-radius: 80px;
    border: 0;
    color: #000000DE;
}

button:hover{
    background-color: #FFE302;
    cursor: pointer;
}

button:disabled {
    background-color: #B4B4B4;
    cursor: default;
}

.title {
    color: #000000DE;
}

